* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background:url(background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    /* background:url('background.jpeg') no-repeat;
    background-size:cover ;
    background-position: center; */

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;


}

header a{
    text-decoration: none;
    color:#fff;
    padding-bottom: 100px;
    font-size: 20px;
}



.logo {
    font-size: 1em;
    color: #fff;
    user-select: none;


}

.name{
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    margin: 0 5px;
    align-items: center;
}

.name-input{
    border: none;
    opacity: 20%;
}

.name .readings{
    display: flex;
    flex-direction: column;
}

.name .readings .mq135{
    display: flex;
    flex-direction: row;
}

.name .readings .mq7{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width: 769px){
    header a{
        font-size: 18px;
        white-space: no-wrap;
        color: black;
        display: flex;
        text-decoration: none;
        padding-bottom: 10px;
        padding-left: 30px;
    }
    header img{
        width: 140px;
    }
    .name .readings{
        display: flex;
        flex-direction: column;
        
    }
    .name{
        margin-right: 20px;
    }
    .name .readings .read{
        height: 180px;
        width: 320px;
    }
    
}
